{% extends "layout.html" %}
{% block body %}
<div>
  <h1>Drossel</h1>
  <div>
    <p>Drossel(<a href="http://www.disneychannel.jp/dc/program/anime/fireball/fireball.html" target="_blank">?</a>) is Fireball web side system. Fireball is systems for programming game. Free registration and joining is free. enjoy! ;-)
  </p>
  </div>
  <hr/>
  <div>
    <h2>problems</h2>
    <ul>
      <li>fizzbuzz</li>
      <li>fibonacci</li>
      <li>translate to Titlecase</li>
    </ul>
  </div>
</div>
{% endblock %}
